.header {
    text-align: center;
    color: #000000;
    letter-spacing: 4px;
    
}

li {
    text-align: center;
    list-style: "\2765";
    list-style-position: inside;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 4px;
    margin: 5px 0;
}

li a:visited {
    color: #ff5050;
    text-decoration: none;
}

li a:hover {
    background-color: #00b8e6;
    color: #FFFFFF;
    text-decoration: none;
}

